
/* Fonts */
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham-light/gotham-light.woff2") format("woff2"),
       url("../fonts/gotham-light/gotham-light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham-book/gotham-book.woff2") format("woff2"),
  url("../fonts/gotham-book/gotham-book.woff") format("woff");
  font-weight: 400;
}
