/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";
@import "elements/elements.css";
@import "components/components.css";
@import "tachyons/tachyons.css";


/*
  Or add your statements here:
 */
body{
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
}
